.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.update-clickup {
    /* width: 100px; */
    /* height: 30px; */
    border-style: none;
    background-color: white;
    border-radius: 15px;
    color: #4DBAA0;
    font-weight: 500;
    font-size: .7em;
    padding: 10px 15px;
}