body {
    background: linear-gradient(to bottom right, #56FFAE, #00eeff);
    height: 100vh;
    background-attachment: fixed;
    padding-top: 30px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}