.question-component {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.questions-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    gap: 1em;
}
.questions-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: white;
    font-family: 'Roboto';
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.zip-logo {
    height: 80px;
    width: 80px;
}

.welcome-title{
    color: rgb(0, 31, 20);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: large;
}