.question-component {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.questions-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    gap: 1em;
}
.questions-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: white;
    font-family: 'Roboto';
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.submit-button {
  width: 50%;
  height: 60px;
  margin: 0 auto;
  border-style: none;
  border-radius: 20px;
  background-color: white;
  color: green;
  cursor: pointer;
}

.zip-logo {
    height: 80px;
    width: 80px;
}

.welcome-title{
    color: rgb(0, 31, 20);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: large;
}

/* #app { height: 100% } */
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
